### Terraform ###
# Local .terraform directories
**/.terraform/*

# Local .terraform Lock
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Test Items
*.env